@model MyVidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var className = Model.Customers.Count > 1 ? "text-danger" : string.Empty;
}

<h2 class="@className">@Model.Movies.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>There is no one want to rent this movie</text>
}
else
{
    <ul>
        @foreach (var customers in Model.Customers)
        {
            <li>@customers.Name</li>
        }
    </ul>

}

